html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  /* word-spacing: -1px; */
  /* letter-spacing: 1px; */
  background-image: linear-gradient(136deg, green 10%, red 90%);
  background-image: url(/img/Background-Lake.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  height: 100vh;
  text-align: center;
  color: white;
}
#logo {
  border-radius: 50%;
  margin-top: 10rem;
}
h1 {
  font-size: 2.4rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
.slogan {
  font-style: italic;
  font-size: 2.2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.ul {
  display: inline-block;
  list-style: none;
  text-align: left;
  margin: -8px;
}
.fa-hand-point-right {
  margin: 5px;
}
.button {
  display: inline-block;
  font-size: 2rem;
  padding: 10px 30px;
  border: 3px solid currentColor;
  border-radius: 999px;
}
i.fa-youtube {
  margin: 5px;
  color: red;
}
a {
  text-decoration: none;
  color: white;
}
.button:hover,
a:hover {
  background-color: #ffde59;
  color: red;
}
p {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.end {
  font-size: 1.8rem;
  font-weight: 700;
}
.spot {
  /* color: #ffde59; */
}
