html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-image: linear-gradient(136deg, green 10%, red 90%);
  background-image: url(./img/Background-Lake.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container {
  min-height: 80vh;
  max-width: 720px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url(./img/Logo-Trading-Winner.png);
  background-size: cover;
}
h1 {
  font-size: 2.2rem;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
.text_hl {
  color: #ffde59;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text_hl {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #ffde59, white);
  }
}
.slogan {
  font-style: italic;
  font-size: 2.2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.ul {
  list-style: none;
  text-align: left;
  margin: -8px;
}
.fa-hand-point-right {
  margin: 5px;
}
.button_1 {
  width: 70%;
  height: 50px;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 999px;
  background-color: transparent;
}
i.fa-youtube {
  width: 36px;
  height: 36px;
  left: 16px;
  line-height: 36px;
  color: red;
  vertical-align: baseline;
}
a {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid white;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: #ffde59;
  color: red;
}
p {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.end {
  font-size: 1.8rem;
  font-weight: 700;
}
.spot {
  /* color: #ffde59; */
}
